.contact-form{
	margin-top: 30px;
}
.contact-textarea{
	min-height: 100px;
}

.contact-button{
	background-color: $secondary;
	height: 40px;
	line-height: 40px;
	font-size: 1.3em;
	padding-top: 0;
	padding-bottom: 0;
	font-family: 'Comfortaa', cursive;

	&:hover{
		background-color: $primary;
	}
}