#create-page-headline{
	margin-top: 45px;
	text-align: center;
	margin-bottom: 20px;
}

.create-page-step{
	border: 2px solid $white;
	padding: 20px;
}

.complete-page-creation-container{
	margin-top: 25px;
	border-top: 1px solid $gray;

	h3{
		padding: 20px;
	}
	.page-creation-list{
		padding-left: 40px;
	}
}

.page-creation-right-info-container{
	border-left: 1px solid $gray;
	border-right: 1px solid $gray;
}

#CTA-pretext{
	border: 1px solid $gray;
	padding-top: 8px;
	padding-bottom: 10px;
	height: 30px;
	position: relative;
	left:15px;
	font-size: .9em;

	p{
		color: $gray;
	}
}

.create-page-step-text{
	color: $gray;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: 1.2em;

}

.create-page-button{
	background-color: $secondary;
	height: 30px;
	font-size: .75em;
	padding-top: 8px;

	&:hover{
		background-color: $primary;
	}
}

#launch-text{
	color: $white;
	padding-top: 20px;
}

.create-page-step-arrows{
	position: relative;
	left: 110%;
	bottom: 150px;
	font-size: 1.5em;
	color: $primary;
	z-index: 10;
}

.down-arrow-scroll{
	color: $primary;
	text-align: center;
	font-size: 4em;

	position: absolute;
	bottom: -15px;

	&:hover{
		color: $secondary;
		cursor: pointer;
	}

}

#launch-image{
	margin-top: 5px;
}
#launch-site-step{
	background-color: $secondary;
}