<footer>
	<div class="row footer-container">
		<ul class="inline-list footer-nav"> 
			<li><a href="#">About</a></li> 
			<li><a href="#">How It Works</a></li> 
			<li><a href="#">Create a Site</a></li> 
			<li><a href="#">Contact</a></li> 
			<li><a href="#">Feedback</a></li> 
			<li><a href="#">Copywright</a></li>
			<li><a href="#">Privacy Policy</a></li>  
			<li><a href="#">FAQ</a></li> 
			<a href="#" class="footer-social-icons"><i class="fa fa-facebook-square"></i></a>
			<a href="#" class="footer-social-icons"><i class="fa fa-twitter-square"></i></a>
			<a href="#" class="footer-social-icons"><i class="fa fa-linkedin-square"></i></a>
			<a href="#" class="footer-social-icons"><i class="fa fa-pinterest-square"></i></a>

		</dl>
	</div>
</footer>