<header>
	<div class="row">
		<div class="medium-2 columns logo">
			<a href="/"><img src="assets/img/logo.svg" alt="Memory Collect Logo" width="140px" height="140px" /></a>
		</div>
		<div class="medium-10 columns search-bar-container">
			<div class="search-icon-box">
				<i class="fa fa-search search-icon"></i>
			</div>
			<input type="text" name="search" id="search-bar" placeholder="Search">
		</div>
		<div class="medium-10 columns nav-container">
			<ul class="nav"> 
				<li class="nav-link"><a href="/about">About</a></li> 
				<li class="nav-link"><a href="/howitworks">How it Works</a></li> 
				<li class="nav-link"><a href="/create">Create Site</a></li> 
				<li class="nav-link"><a href="/contact">Contact</a></li> 
				<li class="nav-link"><a href="/login">Login/Sign Up</a></li> 
			</ul>
		</div>
	</div>
</header>