{% block content %} 
<div class="row about-page-content">
	<div class="medium-12 columns">
		<h2 class="secondary-header" id="about-page-headline">MEMORY COLLECT IS A THOUGHTFUL COMPANY DEDICATED TO PROVIDING A STREAMLINED PLATFORM TO:</h2>
	</div>
</div>
<div class="row">
	<div class="medium-12 columns">
		<img src="assets/img/about_graphic.jpg" alt="About Memory Collect" />
	</div>
</div>
<div class="row">
	<div class="medium-12 columns">
			<h2 class="secondary-header" id="about-page-second-headline">PERSONAL MEMORIES, PHOTOGRAPHS AND VIDEOS OF A LOVED ONE
	FROM MULTIPLE CONTRIBUTORS. </h2>
	</div>
</div>
<div class="complete-page-creation-container row" id="page-creation-anchor" data-equalizer>
	<div class="medium-4 columns" data-equalizer-watch>
		<h3 class="primary-header">OUR PURPOSE:</h3>
			<p class="page-creation-list">- No technical skills required</p>
			<p class="page-creation-list">- We’ll guide you through the process</p>
			<p class="page-creation-list">- Choose from 10 customizable templates</p>
	</div>
	<div class="medium-8 columns page-creation-right-info-container" data-equalizer-watch>
		<h3 class="primary-header">OUR SERVICE:</h3>
		<div class="medium-3 columns">
			<ul class="no-bullet">
				<li>Birthday</li>
				<li>Graduation</li>
				<li>Wedding</li>
			</ul>
		</div>
		<div class="medium-3 columns">
			<ul class="no-bullet">
				<li>Anniversary</li>
				<li>Retirement</li>
				<li>Memorial</li>
			</ul>
		</div>
		<div class="medium-3 columns">
			<ul class="no-bullet">
				<li>Just because</li>

			</ul>
		</div>
		<div class="medium-8 columns" id="CTA-pretext">
			<p class="orange-title">READY TO START YOUR COLLECTION? CLICK HERE TO BEGIN <span class="purple-title">>>></span></p>
		</div>
		<div class="medium-4 columns">
			<a href="#" class="button create-page-button">CREATE YOUR SITE</a>
		</div>
	</div>
</div>

<div class="about-history-container">
	<div class="row">
		<div class="medium-3 columns">
			<img src="assets/img/shelly.png" id="shelly-img" alt="Memory Collect Histroy" />
		</div>
		<div class="medium-6 columns">
			<h3 class="white-title">OUR HISTORY</h3>
			<p class="white-title">The company was established by Jena Hollensteiner in 2014 after she lost a dear friend, Shelley Ann Rapp Wolf at age 49 to breast cancer in October 2012. Shelley left behind four young daughters who only learned of her impending passing a few weeks before she died. One daughter’s comment had a significant impact on Jena – “I’m afraid I’ll forget things about her.” 
			<br /><br />
			In an effort to provide the daughters with insight and ever-lasting memories of their mother, Jena created a dedicated website whereby friends and family could contribute their personal memories, photographs and advice to the daughters. Each daughter received a consolidation of all the memories and photographs of their mother in a printed book, which they will treasure for years to come.</p>
		</div>
		<div class="medium-3 columns">
			<p class="white-title" id="about-history-aside">Through the loss of her friend, Jena identified the need to effectively pay tribute, celebrate and remember loved ones (living and passed) for decades to come. Hence, Memory Collect was born.</p>
		</div>
	</div>
</div>

<div class="about-team-container">
	<div class="row">
		<div class="medium-1 column">
			<h4 class="orange-title">TEAM:</h4>
		</div>
		<div class="medium-11 columns about-team-nav-container">
			<div class="about-team-nav">
				<ul class="inline-list"> 
					<li><a href="#">Memory Maven</a></li>
					<li><a href="#">Writer</a></li> 
					<li><a href="#">Design</a></li> 
					<li><a href="#">Developer</a></li> 
				</ul>
			</div>
		</div>
	</div>
	<div class="row about-team-title-container">
		<div class="medium-12 columns">
			<h4 class="white-title">JENA HOLLENSTEINER, MEMORY MAVEN</h4>
			<p class="white-title">Jena Hollensteiner possesses an unbridled passion for what she loves to do – identify, assess and solve marketing issues with creative solutions that make a difference to positively impact people’s lives. As the Memory Collect founder, Jena, brings more than 20 years of marketing experience, and has demonstrated a knack for capturing people’s life memories and creating personalized tributes through various mediums including websites, books, and presentations.</p>
		</div>
		<div class="medium-3 columns">
			<img src="assets/img/jena.jpg" id="jena-img" alt="Founder: Jena Hollens" />
		</div>
		<div class="medium-9 columns" id="jena-description">
			<p class="white-title">Prior to establishing Memory Collect, she founded Marketing Matters, a creative and marketing consulting firm. She also served as the Vice President of Marketing for the Americas for CBRE for 11 years. 
				<br /><br />
				Memory Collect leverages her innovative, creative and operational talents while incorporating an important charitable component to the business. 
				<br /><br />
				Jena also enjoys travel, entertaining and simply spending time and making memories with her parents, four siblings, six nephews, one niece, many friends, and two dogs - Otis and Mox. Jena also serves on the Board of Directors of the James and Wanda Hollensteiner Charitable Found</p>
		</div>
	</div>
</div>

{% endblock %}