{% block content %} 
<div class="row">
	<br />
	<div class="medium-4 columns">
		<h3>
			<span class="orange-title">MEMORIES FADE.</span>
			<span class="purple-title">PEOPLE FORGET.<br /></span>
			<span class="gray-title">LIFE GOES ON.</span>
		</h3>
		<p>But, with Memory Collect you can capture memories through a streamlined approach to keep memories alive for yours to come.</p>

		<h6 class="orange-title">CREATING A DEDICATION MEMORY COLLECT SITE IS <span class="purple-title">EASY.</span></h6>
	</div>
	<div class="medium-8 columns">
		<div class="howitworks-steps-title-container">
			<h6 class="white-title">SIMPLY FOLLOW THESE THREE STEPS:</h6>
		</div>

		<div class="medium-4 columns howitworks-step-container">
			<h4 class="orange-title">create...&nbsp;<i class="fa fa-pencil purple-title"></i></h4>

			<p>Enter basic information about you (the administrator) and about the person who is being celebrated. Then choose your website design.</p>
		</div>
		<div class="medium-4 columns howitworks-step-container">
			<h4 class="orange-title">collect...&nbsp;<i class="fa fa-cube purple-title"></i></h4>

			<p>Invite people to participate to collect their memories, photos and videos.</p>
		</div>
		<div class="medium-4 columns howitworks-step-container">
			<h4 class="orange-title">share...&nbsp;<i class="fa fa-share-alt purple-title"></i></h4>

			<p>Share the website link via email, social media and/or order a printed book.</p>
		</div>
		<div class="medium-8 columns left-shift" id="CTA-pretext-howitworks">
			<p class="orange-title">READY TO START YOUR COLLECTION? CLICK HERE TO BEGIN <span class="purple-title">>>></span></p>
		</div>
		<div class="medium-4 columns">
			<a href="#" class="button create-page-button" id="create-page-button-howitworks">CREATE YOUR SITE</a>
		</div>

	</div>

</div>

<div class="pricing-table-container">
	<h3 class="orange-title">PRICING:</h3>
	<div class="row">
		<div class="medium-3 columns pricing-table-3-wide">
			<div class="pricing-table-card">
				<ul class="pricing-table"> 
					<li class="title">Basic</li> 
					<li class="price">$16</li> 
					<li class="description">Customizable memory page with 1 year of hosting.</li> 
					<li class="bullet-item">3 Template Options</li> 
					<li class="cta-button"><a class="button" href="#"><i class="fa fa-shopping-cart"></i>
</a></li> 
				</ul>
			</div>
		</div>
		<div class="medium-3 columns pricing-table-2-wide">
			<div class="pricing-table-card">
				<ul class="pricing-table"> 
					<li class="title" id="plus-title">Plus</li> 
					<li class="price">$28</li> 
					<li class="description">Customizable memory page with 1 year of hosting.<br /> <span class="orange-title">Access to more page creation templates.</span><br /> <span class="orange-title">Includes one printable custom 20 page book.</span></li> 
					<li class="bullet-item">5 Template Options</li> 
					<li class="bullet-item">Printed Book</li> 
					<li class="cta-button"><a class="button" href="#" id="middle-button-pricing"><i class="fa fa-shopping-cart"></i>
</a></li> 
				</ul>
			</div>
		</div>
		<div class="medium-3 columns pricing-table-3-wide">
			<div class="pricing-table-card">
				<ul class="pricing-table"> 
					<li class="title">Premium Hosting</li> 
					<li class="price">$36</li> 
					<li class="description"><span class="orange-title">Customizable memory page with 2 years of hosting.</span></li>
					<li class="bullet-item">5 Template Options</li> 
					<li class="bullet-item">Printed Book</li> 
					<li class="cta-button"><a class="button" href="#"><i class="fa fa-shopping-cart"></i>
</a></li> 
				</ul>
			</div>
		</div>
		<div class="medium-3 columns jena-quote">
			<blockquote>
			Tory, Taylor, Tara and Tate, I wanted to give you this book of memories so you can understand and forever remember who she was to you and so many others. So many people were blessed to call her “my friend.” I hope you always feel blessed to call her “my mom.”
			<cite class="purple-title"><i class="fa fa-heart"></i> LOVE, BIG JENA</cite>
			</blockquote>
		</div>
	</div>

</div>

<div class="partner-participation-container">
	<div class="row">
		<div class="medium-12 columns">
			<h3 class="white-title">PARTNER PARTICIPATION:</h3> <p class="white-title">We welcome participation from other companies whose clientele may benefit from Memory Collect.<br /> <span class="orange-title">To inquire or register, please complete the following form.<span></p>
		</div>
	</div>
</div>
{% endblock %}