{% block content %} 
<div class="row">
		<div id="title-holder" class="">
			<h2 class="medium-8 columns">
				<em>Memories Matter:</em> Celebrate someone special...
			</h2>
			<h3 class="medium-4 columns">
				Quick. Just three+easy+steps:
			</h3>
		</div>

	<div class="medium-7 columns">
		<p>
			<em>At Memory Collect, you can create a place to collect and house memories, photos, videos to celebrate life events, milestones and achievements or even a life well lived.</em> Share your site privately with family members and friends, or publicly for all to see and share. <a href="create">Click here to get started.</a>
		</p>
	</div>
	<div class="medium-4 columns medium-offset-1">
	
	</div>

</div>

{% endblock %}