{% block content %} 
<div class="row" style="margin-top:30px;">
	<div class="medium-offset-2 medium-4 columns">
		<h2 class="secondary-header" id="create-page-headline">Sign up</h2>
		<p class="center">Don't have a site yet?<br/>Click the button below to get started.</p>
		<p class="center">
			<a href="#" class="button contact-button center">CREATE YOUR SITE</a>
		</p>
	</div>
	<div class="medium-4 columns end" style="border-left: 1px solid #ccc;">
		<h2 class="secondary-header" id="create-page-headline">Login</h2>

		<form class="login-form">
			<input name="email" type="email" placeholder="Email" />
			<input name="password" type="password" placeholder="Password" />
			<label><input type="checkbox"> Remeber me</label>
			<button class="button contact-button">Login</button>
			<a href="#forgotpassword" style="float:right;line-height:40px;">forgot password</a>
		</form>
	</div>
</div>


{% endblock %}